<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect root to public/
    RewriteRule ^$ public/ [L]

    # Rewrite all other paths to public/
    RewriteCond %{REQUEST_URI} !^/SaintMonarc/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
